app-home {
  ion-card {
    height: 250px;
    box-shadow: none;
    border: 1px dashed var(--ion-color-medium);
  }

  ion-card.showfile-card {
    height: initial !important;
    border: none !important;
  }

  video {
    width: 100%;
    height: auto;
  }

  image {
    width: 100%;
    height: auto;
  }

  ion-content.i-transparent { --background: transparent !important; }
}
